.main{
    width: 250px;
    height: 375px;
    background-color: black;
    border-radius: 20px;
    display: grid;

}
.inp{
    width: 250px;
    height: 75px;
    font-weight: 800;
}
.btn{
    width: 50px;
    height: 40px;
    color: aliceblue;
    border-radius: 20px;
    font-size: 15px;
    
   
}
#zero{
    width: 105px;
    border-radius: 50px;

}